## Q1.
Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
# Answer:- years_list:


years_list = [1995, 1996, 1997, 1998, 1999, 2000]

In [3]:
print(type(years_list))

<class 'list'>

# Q2.
In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [6]:
years_list[2]

1997

# Q3.
In the years list, which year were you the oldest?

In [8]:
# Answer:-

years_list[-1]

2000

## Q4.
Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [10]:
# Answer:-
things=['mozzarella','cinderella','salmonella']

# Q5.
Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [11]:
# Answer:-
things[1]=things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

As you can see, the capitalize() method capitalized the first letter of the string 'cinderella' and replaced it with 'Cinderella' in the things list.

So, to answer the question, yes, the element in the things list has been changed.

## Q6. 
Make a surprise list with the elements "Groucho", "Chico" and "Harpo"

#

In [14]:
# Answer :-
surprise = ['Groucho','Chico','Harpo']

In [15]:
print(surprise)

['Groucho', 'Chico', 'Harpo']

## Q7.
Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [16]:
# Answer:-
last_element = surprise[-1].lower()[::-1].capitalize()

In [18]:
print(last_element)

Oprah

# Q8.
Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [19]:
# Answer:-
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
print(e2f)
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

## Q9.
Write the French word for walrus in your three-word dictionary e2f.

In [22]:
# Answer
french_word_for_walrus = e2f['walrus']
print(french_word_for_walrus)

morse

So the French word for walrus in the e2f dictionary is 'morse'.

# Q10.
Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [23]:
#Answer:-
f2e = {value:key for key , value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

As you can see, the f2e dictionary has been created with the values and keys
of the e2f dictionary as its keys and values, respectively. The items() method
is used to iterate over the key-value pairs of e2f. Then, for each key-value pair, 
a new key-value pair is added to f2e with the value as the key and the key as the value.

# Q11.
Print the English version of the French word chien using f2e.

In [24]:
#Answer:-
print(f2e['chien'])

dog

# Q12. 
Make and print a set of English words from the keys in e2f.

In [25]:
#Answer:-
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'house': 'maison',
    'book': 'livre',
    'computer': 'ordinateur'
}

english_words = set(e2f.keys())
print(english_words)

{'computer', 'house', 'dog', 'cat', 'book'}

# Q13.
Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats','octopi', and
'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
Make all the other keys refer to empty dictionaries.

In [26]:
#Answer:-

life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [27]:
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

In [28]:
type(life)

dict

# In this dictionary:

The 'animals' key refers to another dictionary that has three keys, 'cats', 'octopi', and 'emus'.
The 'cats' key refers to a list of three strings: 'Henri', 'Grumpy', and 'Lucy'.
The 'plants' and 'other' keys both refer to empty dictionaries.

# Q14. 
Print the top-level keys of life.

In [29]:
#Answer:-
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [30]:
print(list(life.keys()))

['animals', 'plants', 'other']

# Q15.
Print the keys for life['animals'].

In [31]:
#Answer
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [32]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

# Q16.
Print the values for life['animals']['cats']

In [ ]:
print(life['animals']['cats'])