# Q1
1. Set the variable test1 to the string 'This is a test of the emergency text system' and save test1 to a
file named test.txt.

In [1]:
#Answer:-
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as f:
    f.write(test1)

In this code, we first define the string 'This is a test of the emergency text system' and
assign it to the variable test1. We then use the open() function to open a file named 'test.txt' in
write mode ('w'). We use a with block to ensure that the file is automatically closed once
we're done with it. Finally, we use the write() method of the file object to write the contents 
of test1 to the file.

# Q2
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [3]:
#Answer:-
with open('test.txt', 'r') as f:
    test2 = f.read()
    
print(test1 == test2)

True

In this code, we use the open() function again to open the test.
txt file, this time in read mode ('r'). We use a with block to ensure
that the file is automatically closed once we're done with it. Finally,
we use the read() method of the file object to read the contents of the file
and assign them to the variable test2.

Now, if we compare test1 and test2 using the == operator, and "True" is output.

# Q3
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
#Answer:-
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(lines)

In this code, we first import the csv module. We then define a list of lists called lines that 
contains the data we want to write to the CSV file. Each inner list represents a row in the CSV file,
and the first inner list contains the column headers.

We then use the open() function to open a file named 'books.csv' in write mode ('w').
We use a with block to ensure that the file is automatically closed once we're done with it.
We pass an additional argument newline='' to the open() function to ensure that the CSV file is
written with the correct line endings.

We then create a csv.writer object, passing the file object f as the argument. Finally,
we use the writerows() method of the writer object to write the lines list to the CSV file.

# Q4
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [5]:
#Answer:-
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE books
    (title TEXT, author TEXT, year INTEGER)
''')

conn.commit()
conn.close()

In this code, we first import the sqlite3 module. We then use the connect() method
of the sqlite3 module to connect to a new database called 'books.db'. This will create
the database file if it doesn't already exist.

We then create a cursor object by calling the cursor() method on the connection object.
The cursor object allows us to execute SQL commands on the database.

We use the cursor's execute() method to execute an SQL command that creates a new table 
called books. The table has three columns: title (of type TEXT), author (also of type TEXT),
    and year (of type INTEGER).

We then use the connection object's commit() method to save the changes we made to the database. 
Finally, we close the connection using the close() method.

# Q5
5. Read books.csv and insert its data into the book table.

In [6]:
#Answer:-
import csv
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

# Create the books table if it doesn't already exist
c.execute('''
    CREATE TABLE IF NOT EXISTS books
    (title TEXT, author TEXT, year INTEGER)
''')

# Read the data from the CSV file and insert it into the books table
with open('books.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # skip the header row
    for row in reader:
        c.execute('INSERT INTO books VALUES (?, ?, ?)', row)

conn.commit()
conn.close()

In this code, we first import the csv and sqlite3 modules. We then use the connect()
method of the sqlite3 module to connect to the books.db database.

We create a cursor object using the cursor() method of the connection object.
We then use the cursor object's execute() method to create the books table if it doesn't already exist.

We then use the open() function to open the books.csv file in read mode ('r').
We create a csv.reader object, passing the file object f as the argument. We use the next() function 
to skip the header row of the CSV file.

We then loop through the remaining rows in the CSV file and use the cursor object's execute() 
method to insert each row into the books table using an SQL INSERT statement with placeholders (?) for the values.

Finally, we use the connection object's commit() method to save the changes we made to the database. 
We then close the connection using the close() method.

In [ ]:
Q6

6. Select and print the title column from the book table in alphabetical order.

In [7]:
#Answer:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select the title column from the books table in alphabetical order
c.execute('SELECT title FROM books ORDER BY title ASC')
titles = c.fetchall()

# Print the title column
for title in titles:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In this code, we first import the sqlite3 module and connect to the books.db database.

We create a cursor object using the cursor() method of the connection object. 
We then use the cursor object's execute() method to select the title column 
from the books table, ordering the results by the title column in ascending order (ASC).

We use the cursor object's fetchall() method to fetch all the rows returned by 
the query and assign them to the variable titles.

We then loop through the titles list and print each title in the first column 
of the result set using indexing (title[0]).

Finally, we use the connection object's close() method to close the connection to the database.

# Q7
7. From the book table, select and print all columns in the order of publication.

In [8]:
#Answer:-
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select all columns from the books table in the order of publication
c.execute('SELECT * FROM books ORDER BY year ASC')
books = c.fetchall()

# Print all columns in the order of publication
for book in books:
    print(book)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In this code, we first import the sqlite3 module and connect to the books.db database.

We create a cursor object using the cursor() method of the connection object.
We then use the cursor object's execute() method to select all columns from the 
books table, ordering the results by the year column in ascending order (ASC).

We use the cursor object's fetchall() method to fetch all the rows returned by the 
query and assign them to the variable books.

We then loop through the books list and print each book in the order of publication,
which corresponds to the ascending order of the year column.

Finally, we use the connection object's close() method to close the connection to the database.

# Q8
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [9]:
#Answer:-
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

In this code, we first import the create_engine() function from the sqlalchemy module.

We then use the create_engine() function to create an engine object that connects to the books.
db SQLite database. The database connection URI is passed to the create_engine() function as a string,
where sqlite:/// specifies the database driver and books.db specifies the database filename.

The resulting engine object can be used to execute SQL commands on the books.db database using SQLAlchemy.

# Q9

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [12]:
#Answer:-

import redis


#Connect to Redis server


r = redis.Redis(host='localhost', port=6379, db=0)

#Create Redis hash called test with the fields count (1) and name ('Fester Bestertester')


r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})


#Print all fields for test


print(r.hgetall('test'))

In this code, we first import the redis module.

We then use the Redis() constructor to connect to the Redis server running on localhost at port 6379,
using database 0.

We use the hmset() method to create a Redis hash called test with the fields count (1)
and name ('Fester Bestertester').

Finally, we use the hgetall() method to print all the fields for the test hash,
which returns a dictionary with the field names and their values.

# Q10

10. Increment the count field of test and print it.

#Answer:-
import redis

#Connect to Redis server


r = redis.Redis(host='localhost', port=6379, db=0)

#Increment the count field of test and print it


r.hincrby('test', 'count', 1)

print(r.hget('test', 'count'))

In this code, we first import the redis module.

We then use the Redis() constructor to connect to the Redis server running on localhost at port 6379, using database 0.

We use the hincrby() method to increment the count field of test Redis hash by 1.

Finally, we use the hget() method to print the value of the count field of test.